/***************************
ABOUT CONTAINER
****************************/
.about-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--gon-header);
    border: solid 5px var(--gon-border);
}

.about-container img {
    width: clamp(13rem, 15vw, 30rem);
    height: clamp(13rem, 15vw, 30rem);
}

.about-container p{
    color: var(--gon-font);
    font-size: var(--default-font-size);
    white-space: pre-line;
}

@media (max-width: 750px) {
    .about-container{
        flex-direction: column;
        justify-content: flex-start;
    }
}